<?php
class Env {
  const TOKEN = "";
  const ADMIN_ID = [];

  const PAYMENT_TOKEN = "";
  const CURRENCY = "USD";
  const DECIMAL = 10 ** 2;

  const PHOTO_NAME = "invoice.jpg";
  const PHOTO_SIZE = 0;
  const PHOTO_DIMENSIONS = ["W" => 0, "H" => 0];

  const DB_HOST = "";
  const DB_USER = "";
  const DB_PASS = "";
  const DB_NAME = "";
}